includeConfig "$baseDir/params.config"
singularity.cacheDir = "$baseDir/../singularity"

//singularity.enabled = true
docker.enabled = true

process {
  memory='12G'
  cache='lenient'
  container = 'biocorecrg/mopprepr:0.6'
  containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
  withName: baseCalling {
    container = 'abner12/guppy'
  }
  withLabel: big_cpus {
        cpus = 8
        memory = '12G'
  }
}